* {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.App-logo {
  height: 80px;
}

input {
  margin-top: 5px;
  border: 1px solid #db9b43;
}
.post-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.App-header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #db9b43;
  height: 80px;
  padding: 20px;
  color: #222;
}

.App-title {
  color: white;
  font-family: "Leckerli One";
  font-size: 45px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 28.4px;
  float: left;
}

.navLinks {
  margin-top: -5px;
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

cite {
  font-weight: bold;
}
table {
  align-content: center;
  margin: auto;
}
td {
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.cap-first-letter:first-letter {
  text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
  border: 1px;
}

.hometext {
  max-width: 60%;
}
.post-link {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  background-color: #db9b43;
  color: white;
  text-decoration: none !important;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-link:hover {
  color: white;
  border: 2px solid white;
}

.nav-link {
  color: white;
  font-family: "Leckerli One";
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 12.4px;
  float: left;
  margin-left: 20px;
}

li {
  padding: 20px;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div {
  text-align: center;
}

a {
  color: #db9b43;
  text-decoration: none !important;
}

ul a:hover {
  background-color: transparent;
}

ul {
  list-style: none;
}

.title {
  font-weight: bold;
  color: #db9b43;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    font-size: 16px;
  }
}

dt,
dl {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

dt {
  display: inline-block;
}

dd {
  display: inline;
  margin-left: 5px;
}

.noData {
  margin-left: 45%;
}

#close-button {
  margin-top: -100px;
  float: right;
}

.modal-lg {
  background-color: white;
  margin: auto;
  margin-top: 7%;
}

.modal-content {
  border: black 2px solid;
  padding: 15px;
}

.community {
  /* background-color: white; */
  color: #db9b43;
  font-family: "Leckerli One";
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 12.4px;
  margin: 30px;
}

.community:hover {
  color: #db9b43;
  border: none;
}

.new-post {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  background-color: #db9b43;
  color: white;
  text-decoration: none !important;
  margin: 1px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  margin: auto;
  margin-top: -20px;
  margin-bottom: 7px;
  width: 150%;
  display: block;
  padding: 5px;
  float: right;
  margin-top: -7%;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.post-title {
  font-size: medium;
  line-height: 1.3;
}

.date {
  float: right;
  font-size: small;
  text-align: right;
}

.like-unlike {
  font-size: 15px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: white;
  border-radius: 3px;
  background-color: #db9b43;
  color: white;
  /* text-decoration: none !important; */
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: -5%; */
}

/* this is for success alert */
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}

.mat-ripple-element {
  display: none;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: x-large;
}

.in-community-posts {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: x-large;
  float: left;
}

i {
  color: #db9b43;
  transition: color 0.3s ease-in-out;
}

.my-posts {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown {
  background-color: #db9b43;
  color: white;
  border: white;
  outline: #db9b43;
}

.view-post {
  float: left;
  width: 50%;
}

.comment-operations {
  font-size: medium;
  padding-left: 10px;
}

.remove-picture {
  float: right;
  margin-top: 18px;
  margin-right: 5px;
}

.remove-picture-label {
  float: right;
  margin-top: 13px;
  margin-right: 5px;
}
.edit-post-submit {
  margin-left: 25%;
}

.post-and-comment {
  display: flex;
  height: 730px;
}

.comment-section {
  float: left;
  width: 50%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #db9b43 inset;
}

.write-comment {
  display: flex;
  width: inherit;
  padding: 1px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #db9b43;
  margin-bottom: 5px;
}

#comment-box {
  width: 100%;
  height: 30px;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

.error {
  color: red;
  font-size: small;
}

.search-input {
  width: 35%;
  height: 35px;
  outline: 1px solid #db9b43;
  border-radius: 7px;
}
@font-face {
    font-family: "LeckerliOne-Regular";   /*Can be any text*/
    src: local("LeckerliOne-Regular"),
      url("./fonts/LeckerliOne-Regular.ttf") format("truetype");
  }

.App {
	text-align: center;
    background-color: gray;
}

.App-header {
	background-color: #9a41e4;
	height: 30px;
    width: 100%;
	padding: 20px;
	color: #222;
    display: inline-flex;
    /* position: fixed; top: 0; left: 0; z-index: 8888; */
}
h1{
    font-size: 3em;
}
h3{
    font-size: 1.5em;
}

.navLinks{
    margin-top: -5px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: lighter;
    font-family: LeckerliOne-Regular;
}


.App-title {
    text-align: left;
	/* font-size: 3em; */
	font-weight:normal;
	color: white;
    margin-top: -20px;
    font-family: LeckerliOne-Regular;
}

.pageTitle{
    font-family: LeckerliOne-Regular;
    font-size: 3em;
    color: #9a41e4;
}
.mainLogo{
    text-decoration: none;
}
.mainLogo:active{
    text-decoration: none;
}

.postLink {
	padding: 0.3rem 0.4rem;
	background-color:#9a41e4;
	border-radius: 3px;
    padding-right: 10px;
	color: white;
	text-decoration: none !important;
	font-family: LeckerliOne-Regular;
	font-size: 1em;
	border: none;
}

.postLink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}
.button{
    padding: 0.3rem 0.4rem;
	background-color: white;
	border-radius: 3px;
    border-color: #9a41e4;
	color:#9a41e4;
    font-size: large;
	text-decoration: none !important;
}
.button:hover{
	background-color:#9a41e4;
    border-color: white;
	color:white;
	text-decoration: none !important;
}
.pageSpace{
    padding-left: 30px;
    padding-right: 30px;
    color: #9a41e4;
    font-weight: bolder;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
    font-weight: bold;
	display: inline-block;
}

dd {
    font-weight: bolder;
	display: inline;
	margin-left: 5px;
}
span{
    font-weight: bold;
    font-size: large;
}
.character{
    font-size: medium;
}
.color{
    color: #9a41e4;
}
.main{
    color: #9a41e4;
    font-size: x-large;
}
.card {
	max-width :750px;
  justify-content: center;
	height : auto;
	margin-left : auto;
	margin-right: auto;
	border-radius: 20;
	box-shadow: 0 19px 38px rgba(0, 209, 250, 0.3), 0 15px 12px rgba(255, 0, 0, 0.22);
};
.modal{
    background-color: #9a41e4;
}
.titleHead {
	border-bottom: 1px solid #9a41e4;
	font-weight: bold;
	font-size: xx-large;
	color: #9a41e4
};


.media {
	height: 100%;
	width: 100%
};

/*container and grid */
.grid {
	flex-grow: 1;
	flex-direction: row;
};

.container {
	display: grid; 
	grid-template-columns: 1.1fr 1fr 0.9fr; 
	grid-template-rows: auto auto 0 [div4] 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
		"div1 div1 div2"
		"div3 div4 div4"
		". div4 div4"
		". div4 div4"
		"div5 div5 div5"; 
}

.div1 { 
	grid-area: div1;
	text-align: left;
	margin-left: 80px;
	align-self: start; /* Align to the top of the grid cell */
}

.div2 { 
	grid-area: div2;
	text-align: right;
	margin-right: 80px;
	align-self: start; /* Align to the top of the grid cell */
}

.div3 { 
	grid-area: div3;
	text-align: left;
	margin-left: 80px;
	margin-right: 50px;
	align-self: end; /* Align to the bottom of the grid cell */
}

.div4 { 
	grid-area: div4;
	vertical-align: text-top;
	text-align: left;
	margin-left: 10px;
	margin-right: 150px;
	align-self: end; /* Align to the bottom of the grid cell */
}

.div5 {
	grid-area: div5;
	text-align: center;
}


.homeDiv {
    width: 100%;
    display: flex;
}

.homeDiv .editBtn {
    margin-left: auto;
    background-color: rgb(6, 200, 174);
    color: black;
    font-weight: bold;
}

.homeDiv button {
    margin-left: auto;
    background-color: rgb(3, 117, 3);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.homeDiv .delBtn {
    margin-left: 10px;
    background-color: rgb(192, 28, 28);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.delYesBtn {
    margin-left: 10px;
    background-color: rgb(192, 28, 28);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.delNoBtn {
    margin-left: 10px;
    background-color: rgb(3, 117, 3);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.mainDiv {
    padding: 15px;
}

.line {
    height: 0.5px;
    width: 50%;
    background-color: black;
}

.medCardDiv {
    display: none;
}

.medHeaderDiv {
    background-color: #ece6e6;
}

.medHeaderDiv h3 {
    padding: 4px;
}

.medHeaderDiv:hover {
    cursor: pointer;
}


.appCardDiv {
    display: none;
}

.appHeaderDiv {
    background-color: #ece6e6;
}

.appHeaderDiv h3 {
    padding: 4px;
}

.appHeaderDiv:hover {
    cursor: pointer;
}

td {
    padding: 7.5px;
    font-weight: 500;
}

.presCardDiv {
    display: none;
}

.presHeaderDiv {
    background-color: #ece6e6;
}

.presHeaderDiv h3 {
    padding: 4px;
}

.presHeaderDiv:hover {
    cursor: pointer;
}

.cardDiv {
    width: 50%;
}

.addButtonDiv {
    width: 50%;
}

.addButtonDiv button {
    margin-left: 90%;
    background-color: rgb(3, 117, 3);
    font-weight: bold;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    width: 60px;
}

.submitBtn {
    background-color: #575ce8;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    width: 60px;
}

.delBtn {
    background-color: #e2e2e2;
    color: black;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    width: 60px;
}

/* .addMedDiv {
    display: none;
    background-color: aqua;
    width: 100%;
    position: fixed;
} */


.homeDiv {
    width: 100%;
    display: flex;
}

.homeDiv .editBtn {
    margin-left: auto;
    background-color: rgb(6, 200, 174);
    color: black;
    font-weight: bold;
}

.homeDiv button {
    margin-left: auto;
    background-color: rgb(3, 117, 3);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.homeDiv .delBtn {
    margin-left: 10px;
    background-color: rgb(192, 28, 28);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.delYesBtn {
    margin-left: 10px;
    background-color: rgb(192, 28, 28);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.delNoBtn {
    margin-left: 10px;
    background-color: rgb(3, 117, 3);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    height: 30px;
    width: 70px;
}

.mainDiv {
    padding: 15px;
}

.line {
    height: 0.5px;
    width: 50%;
    background-color: black;
}

.medCardDiv {
    display: none;
}

.medHeaderDiv {
    background-color: #ece6e6;
}

.medHeaderDiv h3 {
    padding: 4px;
}

.medHeaderDiv:hover {
    cursor: pointer;
}


.appCardDiv {
    display: none;
}

.appHeaderDiv {
    background-color: #ece6e6;
}

.appHeaderDiv h3 {
    padding: 4px;
}

.appHeaderDiv:hover {
    cursor: pointer;
}

td {
    padding: 7.5px;
    font-weight: 500;
}

.presCardDiv {
    display: none;
}

.presHeaderDiv {
    background-color: #ece6e6;
}

.presHeaderDiv h3 {
    padding: 4px;
}

.presHeaderDiv:hover {
    cursor: pointer;
}

.cardDiv {
    width: 50%;
}

.addButtonDiv {
    width: 50%;
}

.addButtonDiv button {
    margin-left: 90%;
    background-color: rgb(3, 117, 3);
    font-weight: bold;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    width: 60px;
}

.submitBtn {
    background-color: #575ce8;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    width: 60px;
}

.delBtn {
    background-color: #e2e2e2;
    color: black;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    width: 60px;
}

body {
  background-image: url("./img/pets.png");
  background-size: cover;
  background-position: no-repeat;
}