@font-face {
    font-family: "LeckerliOne-Regular";   /*Can be any text*/
    src: local("LeckerliOne-Regular"),
      url("./fonts/LeckerliOne-Regular.ttf") format("truetype");
  }

.App {
	text-align: center;
    background-color: gray;
}

.App-header {
	background-color: #9a41e4;
	height: 30px;
    width: 100%;
	padding: 20px;
	color: #222;
    display: inline-flex;
    /* position: fixed; top: 0; left: 0; z-index: 8888; */
}
h1{
    font-size: 3em;
}
h3{
    font-size: 1.5em;
}

.navLinks{
    margin-top: -5px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: lighter;
    font-family: LeckerliOne-Regular;
}


.App-title {
    text-align: left;
	/* font-size: 3em; */
	font-weight:normal;
	color: white;
    margin-top: -20px;
    font-family: LeckerliOne-Regular;
}

.pageTitle{
    font-family: LeckerliOne-Regular;
    font-size: 3em;
    color: #9a41e4;
}
.mainLogo{
    text-decoration: none;
}
.mainLogo:active{
    text-decoration: none;
}

.showlink {
	padding: 0.3rem 0.4rem;
	background-color:#9a41e4;
	border-radius: 3px;
    padding-right: 10px;
	color: white;
	text-decoration: none !important;
}

.showlink:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}
.button{
    padding: 0.3rem 0.4rem;
	background-color: white;
	border-radius: 3px;
    border-color: #9a41e4;
	color:#9a41e4;
    font-size: large;
	text-decoration: none !important;
}
.button:hover{
	background-color:#9a41e4;
    border-color: white;
	color:white;
	text-decoration: none !important;
}
.pageSpace{
    padding-left: 30px;
    padding-right: 30px;
    color: #9a41e4;
    font-weight: bolder;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
    font-weight: bold;
	display: inline-block;
}

dd {
    font-weight: bolder;
	display: inline;
	margin-left: 5px;
}
span{
    font-weight: bold;
    font-size: large;
}
.character{
    font-size: medium;
}
.color{
    color: #9a41e4;
}
.main{
    color: #9a41e4;
    font-size: x-large;
}
.card {
	max-width :750px;
  justify-content: center;
	height : auto;
	margin-left : auto;
	margin-right: auto;
	border-radius: 20;
	box-shadow: 0 19px 38px rgba(0, 209, 250, 0.3), 0 15px 12px rgba(255, 0, 0, 0.22);
};
.modal{
    background-color: #9a41e4;
}
.titleHead {
	border-bottom: 1px solid #9a41e4;
	font-weight: bold;
	font-size: xx-large;
	color: #9a41e4
};


.media {
	height: 100%;
	width: 100%
};

/*container and grid */
.grid {
	flex-grow: 1;
	flex-direction: row;
};

.container {
	display: grid; 
	grid-template-columns: 1.1fr 1fr 0.9fr; 
	grid-template-rows: auto auto 0 [div4] 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
		"div1 div1 div2"
		"div3 div4 div4"
		". div4 div4"
		". div4 div4"
		"div5 div5 div5"; 
}

.div1 { 
	grid-area: div1;
	text-align: left;
	margin-left: 80px;
	align-self: start; /* Align to the top of the grid cell */
}

.div2 { 
	grid-area: div2;
	text-align: right;
	margin-right: 80px;
	align-self: start; /* Align to the top of the grid cell */
}

.div3 { 
	grid-area: div3;
	text-align: left;
	margin-left: 80px;
	margin-right: 50px;
	align-self: end; /* Align to the bottom of the grid cell */
}

.div4 { 
	grid-area: div4;
	vertical-align: text-top;
	text-align: left;
	margin-left: 10px;
	margin-right: 150px;
	align-self: end; /* Align to the bottom of the grid cell */
}

.div5 {
	grid-area: div5;
	text-align: center;
}