* {
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.App-logo {
  height: 80px;
}

input {
  margin-top: 5px;
  border: 1px solid #a16c00;
}
.post-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

cite {
  font-weight: bold;
}
table {
  align-content: center;
  margin: auto;
}
td {
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.cap-first-letter:first-letter {
  text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
  border: 1px;
}

.hometext {
  max-width: 60%;
}
.post-link {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  background-color: #a16c00;
  color: white;
  text-decoration: none !important;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-link:hover {
  color: black;
}

li {
  padding: 20px;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div {
  text-align: center;
}

a {
  color: #a16c00;
  text-decoration: none !important;
}

ul a:hover {
  background-color: transparent;
}

ul {
  list-style: none;
}

.title {
  font-weight: bold;
  color: #a16c00;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    font-size: 16px;
  }
}

dt,
dl {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

dt {
  display: inline-block;
}

dd {
  display: inline;
  margin-left: 5px;
}

.noData {
  margin-left: 45%;
}

#close-button {
  margin-top: -100px;
  float: right;
}

.modal-lg {
  background-color: white;
  margin: auto;
  margin-top: 7%;
}

.modal-content {
  border: black 2px solid;
  padding: 15px;
}

.community {
  /* background-color: white; */
  color: #a16c00;
  font-family: "Leckerli One";
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 12.4px;
  margin: 30px;
}

.community:hover {
  color: #a16c00;
  border: none;
}

.new-post {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  background-color: #a16c00;
  color: white;
  text-decoration: none !important;
  margin: 1px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  margin: auto;
  margin-top: -20px;
  margin-bottom: 7px;
  width: 150%;
  display: block;
  padding: 5px;
  float: right;
  margin-top: -7%;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.post-title {
  font-size: medium;
  line-height: 1.3;
}

.pet-name {
  font-size: x-large;
}

.date {
  float: right;
  font-size: small;
  text-align: right;
}

.like-unlike {
  font-size: 15px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: white;
  border-radius: 3px;
  background-color: #a16c00;
  color: white;
  /* text-decoration: none !important; */
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: -5%; */
}

/* this is for success alert */
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}

.mat-ripple-element {
  display: none;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: x-large;
}

.in-community-posts {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: x-large;
  float: left;
}

i {
  color: #a16c00;
  transition: color 0.3s ease-in-out;
}

.my-posts {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown {
  background-color: #a16c00;
  color: white;
  border: white;
  outline: #a16c00;
}

.dropdown:hover {
  color: black;
}

.view-post {
  float: left;
  width: 50%;
}

.comment-operations {
  font-size: medium;
  padding-left: 10px;
}

.remove-picture {
  float: right;
  margin-top: 18px;
  margin-right: 5px;
}

.remove-picture-label {
  float: right;
  margin-top: 13px;
  margin-right: 5px;
}
.edit-post-submit {
  margin-left: 25%;
}

.post-and-comment {
  display: flex;
  height: 930px;
}

.comment-section {
  float: left;
  width: 50%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #a16c00 inset;
}

.write-comment {
  display: flex;
  width: inherit;
  padding: 1px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #a16c00;
  margin-bottom: 5px;
}

#comment-box {
  width: 100%;
  height: 30px;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

.error {
  color: red;
  font-size: small;
}

.search-input {
  width: 35%;
  height: 35px;
  outline: 1px solid #a16c00;
  border-radius: 7px;
}
@font-face {
  font-family: "LeckerliOne-Regular"; /*Can be any text*/
  src: local("LeckerliOne-Regular"),
    url("./fonts/LeckerliOne-Regular.ttf") format("truetype");
}

.headerMain {
  background-color: #a16c00;
  height: 70px;
  width: 100%;
  overflow: auto;
}

.App-header {
  color: #222;
  display: inline-flex;
  float: left;
}
h1 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}

.navLinks {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: LeckerliOne-Regular;
  float: left;
}
.navLinksRight {
  margin-top: 9px;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: LeckerliOne-Regular;
  float: right;
}

.App-title {
  text-align: left;
  font-weight: normal;
  color: white;
  margin-left: 5px;
  font-family: LeckerliOne-Regular;
}

.pageTitle {
  font-family: LeckerliOne-Regular;
  font-size: 3em;
  color: #a16c00;
}
.mainLogo {
  text-decoration: none;
}
.mainLogo:active {
  text-decoration: none;
}

.postLink {
  padding: 0.3rem 0.4rem;
  background-color: #a16c00;
  border-radius: 3px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none !important;
  font-family: LeckerliOne-Regular;
  font-size: 1em;
  border: none;
}

.postLink:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.button {
  padding: 0.3rem 0.4rem;
  background-color: white;
  border-radius: 3px;
  border-color: #a16c00;
  color: #a16c00;
  font-size: large;
  text-decoration: none !important;
}
.button:hover {
  background-color: #a16c00;
  border-color: white;
  color: white;
  text-decoration: none !important;
}
.pageSpace {
  padding-left: 30px;
  padding-right: 30px;
  color: #996600;
  font-weight: bolder;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div {
  text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    font-size: 16px;
  }
}

dt,
dl {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

dt {
  font-weight: bold;
  display: inline-block;
}

dd {
  font-weight: bolder;
  display: inline;
  margin-left: 5px;
}
span {
  font-weight: bold;
  font-size: large;
}
.character {
  font-size: medium;
}
.color {
  color: #996600;
}
.main {
  color: #a16c00;
  font-size: x-large;
}
.card {
  max-width: 750px;
  justify-content: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20;
  box-shadow: 0 19px 38px rgba(0, 209, 250, 0.3),
    0 15px 12px rgba(255, 0, 0, 0.22);
}
.modal {
  background-color: #a16c00;
}
.titleHead {
  border-bottom: 1px solid #a16c00;
  font-weight: bold;
  font-size: xx-large;
  color: #a16c00;
}

.media {
  height: 100%;
  width: 100%;
}

.grid {
  flex-grow: 1;
  flex-direction: row;
}

.container {
  display: grid;
  grid-template-columns: 1.1fr 1fr 0.9fr;
  grid-template-rows: auto auto 0 [div4] 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "div1 div1 div2"
    "div3 div4 div4"
    ". div4 div4"
    ". div4 div4"
    "div5 div5 div5";
}

.medHeaderDiv {
  background-color: #ece6e6;
  margin-bottom: 2em;
}

.medHeaderDiv h3 {
  padding: 4px;
}

.medHeaderDiv:hover {
  cursor: pointer;
}

.appCardDiv {
  display: none;
}

.appHeaderDiv {
  background-color: #ece6e6;
  margin-bottom: 2em;
}

.appHeaderDiv h3 {
  padding: 4px;
}

.appHeaderDiv:hover {
  cursor: pointer;
}

td {
  padding: 7.5px;
  font-weight: 500;
}

.presCardDiv {
  display: none;
}

.presHeaderDiv {
  background-color: #ece6e6;
  margin-bottom: 2em;
}

.presHeaderDiv h3 {
  padding: 4px;
}

.presHeaderDiv:hover {
  cursor: pointer;
}

.cardDiv {
  width: 50%;
}

.line {
  height: 0.5px;
  width: 100%;
  background-color: black;
}

.medCardDiv {
  display: none;
}

.appCardDiv {
  display: none;
}

.appHeaderDiv {
  background-color: #ece6e6;
}

.appHeaderDiv h3 {
  padding: 4px;
}

.appHeaderDiv:hover {
  cursor: pointer;
}

td {
  padding: 7.5px;
  font-weight: 500;
}

.presCardDiv {
  display: none;
}

.presHeaderDiv {
  background-color: #ece6e6;
}

.presHeaderDiv h3 {
  padding: 4px;
}

.presHeaderDiv:hover {
  cursor: pointer;
}

.cardDiv {
  width: 50%;
}

#welcome-heading {
  color: #a16c00;
  text-align: justify;
  width: 500px;
}

/* .headline {
  margin: auto;
  margin-top: 5vw;
  font-size: larger;
  font-weight: bold;
  width: 30%;
  text-align: justify;
  text-justify: inter-word;
  color: rgb(89, 62, 36);
  font-family: LeckerliOne-Regular;
} */

body {
  background-image: url("./img/pets.png");
  background-size: cover;
  background-position: no-repeat;
  padding-bottom: 50px;
}

.add-item {
  height: 3em;
  margin-left: 50%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-left: 20px;
  padding-right: 20px;
}

.login-icons {
  margin-right: 20px;
  margin-left: 20px;
}

.pet-things {
  margin-left: 20em;
  margin-right: 20em;
}

tr {
  border-color: #a16c00;
}

footer {
  margin-top: auto;
  bottom: 0;
  color: #555;
  text-align: center;
}

.home-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  color: #a16c00;
  margin-bottom: 20px;
  font-family: LeckerliOne-Regular;
}

.description {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: LeckerliOne-Regular;
}

.home-section {
  text-align: center;
}

.home-message {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: LeckerliOne-Regular;
}

@media screen and (max-width: 480px) {
  /* Adjust font sizes for smaller screens */
  .heading {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .home-message {
    font-size: 16px;
  }

  /* Adjust icon size and margin for smaller screens */
  .login-icons {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }
}